

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Hind';
  color: #999;
}
.section-subtitle{
  margin-top: 0px;
}

.navbar-inverse {
  background-color: #444;
}


/* Page header */
.page-header{
  margin: 60px 0 30px;
  border-bottom: none;
}


/* Tweak autocomplete */
.angucomplete-holder input{
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F9F9F9;
}
.angucomplete-holder input:focus{
  background-color: #FFF;
}


/* Plugin thumbnails */
.plugin-thumbnail{
  margin-bottom: 24px;
  cursor: pointer;
  overflow: hidden;

  -webkit-user-select: none; /* Chrome/Safari */        
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
       -o-user-select: none;
          user-select: none;

  background-color: #FFF;

  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  border: 1px solid #EEE;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.plugin-thumbnail:hover{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.plugin-thumbnail .thumbnail-img-container {
  background-color: #DDD;
  -webkit-transition: background-color ease-in-out .15s;
       -o-transition: background-color ease-in-out .15s;
          transition: background-color ease-in-out .15s;
}
.plugin-thumbnail:hover .thumbnail-img-container {
  background-color: #66afe9;
}
.plugin-thumbnail .thumbnail-img-container img {
  width:100%;
  height: 140px;
  width: 140px;
  object-fit: cover;

  opacity: 0.7;
}
.plugin-thumbnail .thumbnail-text{
  height: 140px;
  overflow: hidden;
  padding: 3px 6px 0px 9px;
  font-size: 16px;
  font-family: 'Hind';
  font-weight: 300;
  color: #666;
}
.plugin-thumbnail:hover .thumbnail-text{
  /*background-color: #F4F4F4;*/
}
.plugin-thumbnail .thumbnail-text h5{
  font-size: 20px;
  color: #000;
}
.plugin-thumbnail .thumbnail-text-end {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1))); 
    background-image: -webkit-linear-gradient(bottom,rgba(0,255,255,0),rgba(0,255,255,1)); 
    background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255,255,255,1));
    top: 100px;
    right: 1px;
    height: 41px;
    position: absolute;
    margin-right: 15px;
    left: 156px;
}


/* Particles spinner */
#pjs-container {
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-user-select: none; /* Chrome/Safari */        
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
       -o-user-select: none;
          user-select: none;

  cursor: crosshair;

}
#pjs-container .pjs-txt-container {
  position: absolute;
  left: -100px;
  top: -20px;
}
#pjs-container .pjs-txt-container .pjs-txt {
  width: 200px;
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 300;
}
#particles-js {
  position: absolute;
  margin-left: -80px;
  margin-top: -80px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #444;
  overflow: hidden;
}


/* Plugin bug card */
.plugin-card-spacer{
  height: 48px;
}
.plugin-card{

  padding: 24px 36px 36px 36px;

  border: 1px solid #EEE;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  background-color: #FFF;
  color: #666;
}
.plugin-card p, .plugin-card ul, .plugin-card ol {
  font-family: 'Hind';
  font-size: 18px;
}
.plugin-card .plugin-screenshots{
  background-color: #F4F4F4;
  margin-top: 36px;
  margin-left: -36px;
  margin-right: -36px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);}
.plugin-card .plugin-screenshots table{
  width: 100%;
}
.plugin-card .plugin-screenshots img{
  width:100%;
  height: 200px;
  object-fit: cover;
}


/* ==========================================================================
   Home view specific styles
   ========================================================================== */
.home-download-link-subtitle{
  margin-left: 20px;
}

.panel-download{
  margin-top: 60px;
}

.tagItem{
  font-family: 'Hind'
  font-size: 12px;
}









