

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Hind';
  color: #999;
}

.navbar-inverse {
  background-color: #444;
}


/* Page header */
.page-header{
  margin: 60px 0 30px;
  border-bottom: none;
}


/* Plugin thumbnails */
.plugin-thumbnail{
  border: 1px solid #DDD;
  margin-bottom: 24px;
  cursor: pointer;
}
.plugin-thumbnail:hover{
  /*border-color: #666;*/
}
.plugin-thumbnail .thumbnail-img-container {
  background-color: #DDD;
}
.plugin-thumbnail .thumbnail-img-container img {
  width:100%;
  height: 240px;
  object-fit: cover;
  opacity: 0.6;
}
.plugin-thumbnail:hover .thumbnail-img-container img {
  opacity: 1;
}
.plugin-thumbnail .thumbnail-text{
  /*background-color: #F4F4F4;*/
  height: 120px;
  overflow: hidden;
  padding: 3px 6px 0 6px;
  font-size: 20px;
  font-family:'Hind';
  font-weight: 400;
}
.plugin-thumbnail:hover .thumbnail-text{
  /*background-color: #FFF;*/
}


/* Particles spinner */
#pjs-container {
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-user-select: none; /* Chrome/Safari */        
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
       -o-user-select: none;
          user-select: none;
}
#pjs-container .pjs-txt-container {
  position: absolute;
  left: -100px;
  top: -20px;
}
#pjs-container .pjs-txt-container .pjs-txt {
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 300;
}
#particles-js {
  position: absolute;
  margin-left: -80px;
  margin-top: -80px;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #444;
}


/* ==========================================================================
   Home view specific styles
   ========================================================================== */
.home-download-link-subtitle{
  margin-left: 20px;
}

.panel-download{
  margin-top: 60px;
}










