<navbar/>

<div class="container" ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div class="container" ng-show="!loading">
  
  <div class="row">

    <div class="col-md-4">
      <div class="page-header">

        <h1>Browse</h1>
        
      </div>
    </div>

    <div class="col-md-4">
      <div class="filter-header">
        <div class="filter-block" ng-if="filterActive">
          <a class="btn btn-default ng-binding" href="#/browse">
            <span class="glyphicon glyphicon-remove"></span>
            {{ filterString | uppercase }}
          </a>
        </div>
        <div class="filter-block">
          <span class="filter-header-text">
            {{ plugins.length }} Plugins 
          </span>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">

      <input type="text" class="form-control" id="search" placeholder="Search" ng-model="query" ng-press-enter="search()">

      <br>
      <br>

      <div class="row">
        <div class="col-xs-6">
          
          <h3 class="section-subtitle">TYPE</h3>
          <p class="tagItem" ng-repeat="type in typeList"><a href='#/browse/type/{{type}}'>{{type | uppercase}} <small class="text-muted">{{data._index.type[type].length}}</span></a></p>
        
          <br>
          <br>

        </div>
        <div class="col-xs-6">
          
          <h3 class="section-subtitle">VERSION</h3>
          <p class="tagItem" ng-repeat="version in versionList"><a href='#/browse/version/{{version}}'>{{version | uppercase}}</a></p>

          <br>
          <br>

        </div>
      </div>

    </div>
    <div class="col-sm-8">

      <div class="row">
        <div class="col-md-6" dir-paginate="plugin in plugins | orderBy:'name' | itemsPerPage: 10 track by $index " >
          <plugin-thumbnail plugin="plugin"/>
        </div>
      </div>

      <dir-pagination-controls
        boundary-links="true"
        on-page-change="pageChangeHandler(newPageNumber)"
        template-url="partials/dirPagination.tpl.html"
      ></dir-pagination-controls>

    </div>
  </div>

  <footer>
    
  </footer>
</div> <!-- /container -->