<navbar/>

<div class="container" ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div class="container" ng-show="!loading">
  
  <div class="row">

    <div class="col-md-8 col-sm-6">
      <div class="page-header">

        <h1>Gephi Plugins</h1>
        
        <div class="row">
          <div class="col-md-6">
            <angucomplete-alt
              placeholder="Search"
              pause="100"
              selected-object="selectedPlugin"
              local-data="data.plugins"
              search-fields="name"
              title-field="name"
              minlength="1"
              input-class="form-control form-control-small"
            />
          </div>
          <a href="#/browse" class="btn btn-default">All plugins</a>
        </div>


      </div>
    </div>

    <div class="col-md-4 col-sm-6 hidden-xs">
      <div class="panel-download pull-right">

        <button class="btn btn-lg btn-link">
          <span class="glyphicon glyphicon-download"></span> DOWNLOAD GEPHI
        </button>

        <p class="text-muted home-download-link-subtitle">
          {{osInfo}}
        </p>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Latest Plugins</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-3 col-sm-6" ng-repeat="plugin in data.plugins | orderBy:'lastUpdate' | limitTo:4 track by $index" >
      <plugin-thumbnail plugin="plugin"/>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Browse by category</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-3">
      <div class="pull-right">
        <h3 class="section-subtitle hidden-xs">TYPE</h3>
      </div>
    </div>

    <div class="col-sm-3">
      <h3 class="visible-xs">TYPE</h3>
      <p class="tagItem" ng-repeat="type in typeList"><a href='#/browse'>{{type | uppercase}}</a></p>
    </div>

    <div class="col-sm-3">
      <div class="pull-right">
        <h3 class="section-subtitle hidden-xs">GEPHI VERSION</h3>
      </div>
    </div>

    <div class="col-sm-3">
      <h3 class="visible-xs">GEPHI VERSION</h3>
      <p class="tagItem" ng-repeat="version in versionList"><a href='#/browse'>{{version | uppercase}}</a></p>
    </div>

  </div>

  <footer>
    
  </footer>
</div> <!-- /container -->