<navbar/>

<div class="container" ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div class="container" ng-show="!loading">
  
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Gephi Plugins</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <button class="btn btn-lg btn-link">
            <span class="glyphicon glyphicon-download"></span> DOWNLOAD GEPHI {{osInfo}}
          </button>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Best plugins</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-md-2" ng-repeat="plugin in data.plugins" >
      <div class="panel panel-default">
        <div class="panel-body">
          {{plugin.name}}
          <br>
          <br>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-12">
      <h3>Browse by category</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          Plugin type
          
          <ul>
            <li>xxx</li>
            <li>xxx</li>
            <li>xxx</li>
          </ul>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          Gephi version
          
          <ul>
            <li>xxx</li>
            <li>xxx</li>
            <li>xxx</li>
          </ul>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          Operating system
          
          <ul>
            <li>xxx</li>
            <li>xxx</li>
            <li>xxx</li>
          </ul>

        </div>
      </div>
    </div>

  </div>

  <hr>

  <footer>
    
  </footer>
</div> <!-- /container -->