<navbar/>

<div class="container" ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div class="container" ng-show="!loading">
  
  <div class="row">
    <div class="col-md-12">
      <div class="plugin-card-spacer"
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <div class="plugin-card">

        <h1>{{plugin.name}}</h1>

        <p>
          by
          <span ng-repeat="author in plugin.authors track by $index">
            <a href="{{author.link}}">{{author.name}}</a>
            {{ $index < plugin.authors.length - 1 ? ',' : '' }}
          </span>
        </p>

        <!-- 
        <small>{{plugin.catchphrase}}</small>
        <p>
          Last updated {{plugin.last_update}}
        </p>

        <p>
          License: {{plugin.license}}
        </p>

        <p>
          Supported on
          <span ng-repeat="os in plugin.supported_platforms track by $index">
            <a href="">{{os}}</a>
            {{ $index < plugin.supported_platforms.length - 1 ? ',' : '' }}
          </span>
        </p>

        <p>
          Gephi versions
          <span ng-repeat="v in plugin.versions track by $index">
            <a href="">{{v}}</a>
            {{ $index < plugin.versions.length - 1 ? ',' : '' }}
          </span>
        </p>

        <span class="label label-default" ng-repeat="type in plugin.types">
          {{type}}
        </span>
        <p>
          <a href="{{plugin.sourcecode}}">Source code</a>
        </p>
 -->

        <div class="plugin-screenshots">
          <table><tr>
            <td ng-repeat="image in plugin.screenshots track by $index">
              <a target="_blank" href="{{image}}">
                <img ng-src="{{image}}" alt="{{plugin.name}}">
              </a>
            </td>
          </tr></table>
        </div>
          
        <md ng-model="plugin.description"></md>

      </div>
    </div>

    <div class="col-md-4">

      <button class="btn btn-lg btn-primary">
        <span class="glyphicon glyphicon-download"></span> DOWNLOAD PLUGIN
      </button>

    </div>

  </div>

  <footer>
    
  </footer>
</div> <!-- /container -->