<navbar/>

<div class="container" ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div class="container" ng-show="!loading">
  
  <div class="row">
    <div class="col-md-12">
      <div class="plugin-card-spacer"
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <div class="plugin-card">

        <div class="plugin-types pull-right">
          <div ng-repeat="type in plugin.types track by $index">
            <span class="label label-primary">
              {{type}}
            </span>
          </div>
        </div>

        <h1>{{plugin.name}}</h1>

        <p ng-if="plugin.authors && plugin.authors.length > 0">
          by
          <span ng-repeat="author in plugin.authors track by $index">
            <a href="{{author.link}}">{{author.name}}</a>
            {{ $index < plugin.authors.length - 1 ? ',' : '' }}
          </span>
        </p>


        <div class="plugin-screenshots" ng-show="plugin.screenshots && plugin.screenshots.length > 0">
          <table><tr>
            <td ng-repeat="image in plugin.screenshots track by $index">
              <a target="_blank" href="{{image}}">
                <img ng-src="{{image}}" alt="{{plugin.name}}">
              </a>
            </td>
          </tr></table>
        </div>

        <blockquote ng-if="plugin.catchphrase && plugin.catchphrase != ''">
          <p>{{plugin.catchphrase}}</p>
        </blockquote>
          
        <md ng-model="plugin.description"></md>

      </div>
    </div>

    <div class="col-md-4">

      <div class="show-xs">
        <br>
        <br>
      </div>

      <div class="btn-group" role="group" aria-label="..." ng-if="plugin._versions && plugin._versions.length > 0">
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-download"></span> DOWNLOAD 
        </button>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            for Gephi {{plugin._versions[0].version}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="versionObj in plugin._versions track by $index">
              <a href="{{versionObj.url}}" target="_blank">{{versionObj.version}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="plugin-side-information">
        
        <p ng-if="plugin.last_update">
          Last updated {{plugin.last_update}}
        </p>

        <p ng-if="plugin.license">
          License: {{plugin.license}}
        </p>

        <p ng-if="plugin.sourcecode">
          <a href="{{plugin.sourcecode}}">Source code</a>
        </p>

      </div>

    </div>

  </div>

  <footer>
    
  </footer>
</div> <!-- /container -->